---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <!-- ClustrMaps Widget - Website Statistics -->
    <hr style="margin-top:40px; margin-bottom:20px;">
    <p align="center">
      <a href="https://clustrmaps.com/site/1c92w" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=sSstEK1zheV4dgsnwS7PpNSKoXO32umGvBcd2UjTLFA&cl=ffffff" /></a>
    </p>

    <div style="padding:14px 0px 30px 0px;text-align:center;color:#d9d9d9;clear:both">
      Last updated at Jan 22, 2026
    </div>

  </body>
</html>
